In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../1_Data/extracted_dataset.csv')

df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24-Sep-21,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
3,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic",23-Sep-21,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
4,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,21-Sep-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [3]:
#Drop show_id and description columns
#Format date_added to be proper SQL date format
#Figure out how to split country, and listed_in columns since there's multiples

cols = ['show_id', 'description']

df.drop(cols, inplace = True, axis = 1)

df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
1,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
2,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24-Sep-21,2021,PG-13,104 min,"Comedies, Dramas"
3,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic",23-Sep-21,2021,TV-MA,127 min,"Dramas, International Movies"
4,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,21-Sep-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies"

In [4]:
df['date_added'] = pd.to_datetime(df['date_added'], format='%d-%b-%y', errors='coerce')
df['date_added'] = df['date_added'].fillna(pd.to_datetime(df['date_added'], errors='coerce').dt.strftime('%Y-%m-%d'))

df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
1,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
2,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas"
3,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies"
4,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies"

In [5]:
df.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      4
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [6]:
df.dropna(subset=['date_added'], inplace = True)

df.reset_index(drop=True, inplace=True)

df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
1,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
2,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas"
3,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies"
4,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies"

In [7]:
df.dtypes

type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
dtype: object

In [8]:
df_titles = df[['type', 'title', 'release_year', 'date_added', 'rating', 'duration']]

df_titles.head()

,type,title,release_year,date_added,rating,duration
0,Movie,Sankofa,1993,2021-09-24,TV-MA,125 min
1,TV Show,The Great British Baking Show,2021,2021-09-24,TV-14,9 Seasons
2,Movie,The Starling,2021,2021-09-24,PG-13,104 min
3,Movie,Je Suis Karl,2021,2021-09-23,TV-MA,127 min
4,Movie,Jeans,1998,2021-09-21,TV-14,166 min

In [9]:
df_titles.to_csv('../1_Data/transformed_titles_dataset.csv', index=False)

In [10]:
# Splitting multiple values and creating separate rows
df_directors = df[['title', 'director']].assign(director=df['director'].str.split(', ')).explode('director')

df_directors.head()

                           title             director
0                        Sankofa         Haile Gerima
1  The Great British Baking Show      Andy Devonshire
2                   The Starling       Theodore Melfi
3                   Je Suis Karl  Christian Schwochow
4                          Jeans           S. Shankar

In [11]:
df_directors.to_csv('../1_Data/transformed_directors_dataset.csv', index=False)

In [12]:
df_cast = df[['title', 'cast']].assign(cast=df['cast'].str.split(', ')).explode('cast')

df_cast = df_cast.rename(columns={'cast': 'actor'})

df_cast.head()

     title                actor
0  Sankofa         Kofi Ghanaba
0  Sankofa  Oyafunmike Ogunlano
0  Sankofa       Alexandra Duah
0  Sankofa          Nick Medley
0  Sankofa           Mutabaruka

In [13]:
df_cast.to_csv('../1_Data/transformed_cast_dataset.csv', index=False)

In [24]:
df_countries = df[['title', 'country']].assign(country=df['country'].str.split(', ')).explode('country')

df_countries.head()

     title         country
0  Sankofa   United States
0  Sankofa           Ghana
0  Sankofa    Burkina Faso
0  Sankofa  United Kingdom
0  Sankofa         Germany

In [23]:
df_countries.to_csv('../1_Data/transformed_countries_dataset.csv', index=False)

In [16]:
df_genres = df[['title', 'listed_in']].assign(listed_in=df['listed_in'].str.split(', ')).explode('listed_in')

df_genres = df_genres.rename(columns={'listed_in': 'genre'})

df_genres.head()

                           title                 genre
0                        Sankofa                Dramas
0                        Sankofa    Independent Movies
0                        Sankofa  International Movies
1  The Great British Baking Show      British TV Shows
1  The Great British Baking Show            Reality TV

In [17]:
df_genres.to_csv('../1_Data/transformed_genres_dataset.csv', index=False)