In [2]:
#Importing pandas

import pandas as pd

In [5]:
#This line will create a dataform which will read the CSV file from Kaggle

#Read dataform
df = pd.read_csv('../1_Data/raw_dataset.csv')

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,MA,ABW,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050

In [5]:
#Checks for how many tuples have null values in them and organizes by column
df.isnull().sum()

Country Name                                                    0
Region Code                                                     0
Country Code                                                    0
GDP, PPP (current international $)                              0
 Population, total                                              0
Population CGR 1960-2015                                        0
Internet users (per 100 people)                                 0
Popltn Largest City % of Urban Pop                              0
2014 Life expectancy at birth, total (years)                    0
Literacy rate, adult female (% of females ages 15 and above)    0
Exports of goods and services (% of GDP)                        0
dtype: int64

In [4]:
#USE ONLY TO REMOVE TUPLES IN ROWS WITH NULL DATA FROM SPECIFIC COLUMNS

df.dropna(subset=['Population CGR 1960-2015', 'Literacy rate, adult female (% of females ages 15 and above)', 'Exports of goods and services (% of GDP)', 'Popltn Largest City % of Urban Pop'], inplace = True)

df.reset_index(drop=True, inplace=True)

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
1,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
2,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
3,Argentina,SA,ARG,"882,358,844,160","43,416,755",1.36%,69.4,38.1%,76.2,98.134781,0.110578
4,Armenia,RU,ARM,"25,329,201,238","3,017,712",0.88%,58.2,55.2%,74.7,99.730469,0.297334

In [6]:
#Finds out the python data type for each column
df.dtypes

Country Name                                                     object
Region Code                                                      object
Country Code                                                     object
GDP, PPP (current international $)                               object
 Population, total                                               object
Population CGR 1960-2015                                         object
Internet users (per 100 people)                                 float64
Popltn Largest City % of Urban Pop                               object
2014 Life expectancy at birth, total (years)                    float64
Literacy rate, adult female (% of females ages 15 and above)    float64
Exports of goods and services (% of GDP)                        float64
dtype: object

In [7]:
#Save df as csv for next file
df.to_csv('4 - extracted.csv', index=False)