In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('2015 World Bank Data.csv')

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,MA,ABW,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050

In [3]:
#USE ONLY WHEN YOU WANT TO REMOVE COLUMNS

cols = ['Region Code', 'Country Code']

df.drop(cols, inplace = True, axis = 1)

df.head()

,Country Name,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050

In [6]:
df.isnull().sum()

Country Name                                                    0
Region Code                                                     0
Country Code                                                    0
GDP, PPP (current international $)                              0
 Population, total                                              0
Population CGR 1960-2015                                        0
Internet users (per 100 people)                                 0
Popltn Largest City % of Urban Pop                              0
2014 Life expectancy at birth, total (years)                    0
Literacy rate, adult female (% of females ages 15 and above)    0
Exports of goods and services (% of GDP)                        0
dtype: int64

In [10]:
#USE ONLY TO REMOVE TUPLES IN ROWS WITH NULL DATA FROM SPECIFIC COLUMNS

df.dropna(subset=['Population CGR 1960-2015', 'Literacy rate, adult female (% of females ages 15 and above)', 'Exports of goods and services (% of GDP)', 'Popltn Largest City % of Urban Pop'], inplace = True)

df.reset_index(drop=True, inplace=True)

df.head()

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
1,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
2,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
3,Argentina,SA,ARG,"882,358,844,160","43,416,755",1.36%,69.4,38.1%,76.2,98.134781,0.110578
4,Armenia,RU,ARM,"25,329,201,238","3,017,712",0.88%,58.2,55.2%,74.7,99.730469,0.297334

In [7]:
df.dtypes

Country Name                                                     object
Region Code                                                      object
Country Code                                                     object
GDP, PPP (current international $)                               object
 Population, total                                               object
Population CGR 1960-2015                                         object
Internet users (per 100 people)                                 float64
Popltn Largest City % of Urban Pop                               object
2014 Life expectancy at birth, total (years)                    float64
Literacy rate, adult female (% of females ages 15 and above)    float64
Exports of goods and services (% of GDP)                        float64
dtype: object

In [11]:
selected_columns = ['Country Name', 'Region Code', 'Country Code']
countries = []

for i in range (len(df)):
    selected_data = df.loc[i, selected_columns]
    countries.append(tuple(selected_data))

countries

[('Afghanistan', 'ME', 'AFG'),
 ('Angola', 'AF', 'AGO'),
 ('Albania', 'EU', 'ALB'),
 ('Argentina', 'SA', 'ARG'),
 ('Armenia', 'RU', 'ARM'),
 ('Azerbaijan', 'RU', 'AZE'),
 ('Burundi', 'AF', 'BDI'),
 ('Benin', 'AF', 'BEN'),
 ('Burkina Faso', 'AF', 'BFA'),
 ('Bangladesh', 'SS', 'BGD'),
 ('Bulgaria', 'EU', 'BGR'),
 ('Belarus', 'EU', 'BLR'),
 ('Brazil', 'SA', 'BRA'),
 ('Central African Republic', 'AF', 'CAF'),
 ('Chile', 'SA', 'CHL'),
 ('China', 'EA', 'CHN'),
 ("Cote d'Ivoire", 'AF', 'CIV'),
 ('Cameroon', 'AF', 'CMR'),
 ('Congo, Rep.', 'AF', 'COG'),
 ('Colombia', 'SA', 'COL'),
 ('Dominican Republic', 'MA', 'DOM'),
 ('Ecuador', 'SA', 'ECU'),
 ('Egypt, Arab Rep.', 'ME', 'EGY'),
 ('Spain', 'EU', 'ESP'),
 ('Estonia', 'EU', 'EST'),
 ('Ethiopia', 'AF', 'ETH'),
 ('Gabon', 'AF', 'GAB'),
 ('Georgia', 'RU', 'GEO'),
 ('Ghana', 'AF', 'GHA'),
 ('Guinea', 'AF', 'GIN'),
 ('Greece', 'EU', 'GRC'),
 ('Guatemala', 'MA', 'GTM'),
 ('Honduras', 'MA', 'HND'),
 ('Croatia', 'EU', 'HRV'),
 ('Haiti', 'MA', 'HTI'),
 ('Indonesia', 'SE', 'IDN'),
 ('Iraq', 'ME', 'IRQ'),
 ('Italy', 'EU', 'ITA'),
 ('Jamaica', 'MA', 'JAM'),
 ('Jordan', 'ME', 'JOR'),
 ('Kazakhstan', 'ME', 'KAZ'),
 ('Kenya', 'AF', 'KEN'),
 ('Cambodia', 'SE', 'KHM'),
 ('Lao PDR', 'SE', 'LAO'),
 ('Lebanon', 'ME', 'LBN'),
 ('Liberia', 'AF', 'LBR'),
 ('Libya', 'ME', 'LBY'),
 ('Sri Lanka', 'SS', 'LKA'),
 ('Lithuania', 'EU', 'LTU'),
 ('Latvia', 'EU', 'LVA'),
 ('Macao SAR, China', 'EA', 'MAC'),
 ('Moldova', 'EU', 'MDA'),
 ('Madagascar', 'AF', 'MDG'),
 ('Mexico', 'MA', 'MEX'),
 ('Macedonia, FYR', 'EU', 'MKD'),
 ('Mali', 'AF', 'MLI'),
 ('Mongolia', 'EA', 'MNG'),
 ('Mozambique', 'AF', 'MOZ'),
 ('Malawi', 'AF', 'MWI'),
 ('Malaysia', 'SE', 'MYS'),
 ('Namibia', 'AF', 'NAM'),
 ('Niger', 'AF', 'NER'),
 ('Nicaragua', 'MA', 'NIC'),
 ('Nepal', 'SS', 'NPL'),
 ('Pakistan', 'SS', 'PAK'),
 ('Peru', 'SA', 'PER'),
 ('Philippines', 'SE', 'PHL'),
 ('Poland', 'EU', 'POL'),
 ('Portugal', 'EU', 'PRT'),
 ('Paraguay', 'SA', 'PRY'),
 ('Qatar', 'ME', 'QAT'),
 ('Romania', 'EU', 'ROU'),
 ('Russian Federation', 'RU', 'RUS'),
 ('Rwanda', 'AF', 'RWA'),
 ('Saudi Arabia', 'ME', 'SAU'),
 ('Sudan', 'AF', 'SDN'),
 ('Senegal', 'AF', 'SEN'),
 ('Singapore', 'SE', 'SGP'),
 ('Sierra Leone', 'AF', 'SLE'),
 ('El Salvador', 'MA', 'SLV'),
 ('South Sudan', 'AF', 'SSD'),
 ('Chad', 'AF', 'TCD'),
 ('Togo', 'AF', 'TGO'),
 ('Turkey', 'ME', 'TUR'),
 ('Tanzania', 'AF', 'TZA'),
 ('Uganda', 'AF', 'UGA'),
 ('Ukraine', 'EU', 'UKR'),
 ('Uruguay', 'SA', 'URY'),
 ('Uzbekistan', 'ME', 'UZB'),
 ('Vietnam', 'SE', 'VNM'),
 ('South Africa', 'AF', 'ZAF'),
 ('Congo, Dem. Rep.', 'AF', 'COD'),
 ('Zimbabwe', 'AF', 'ZWE')]

In [9]:
file = open('WorldBankData.txt', 'w')

for tuple in y:
    file.write(str(tuple) + ',' + '\n')

file.close()